section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 14rem;
}

div {
    text-align: center;
    border-radius: 15px;
}

h1, p {
    margin: 1rem 0 0 0;
    padding: 1rem 1.2rem 0 1.2rem;
    color: #03281a;
    border-radius: 15px;
}

p {
    font-size: .88rem;
    padding-bottom: 0.77rem;
}

h1 {
    padding-top: 0.77rem;
}

ul {
    padding: 0;
    margin: .05rem 0;
    text-align: center;
}

li {
    list-style: none;
    margin: 1rem 0 1.7rem 0;
    background-color: #1364cc;
    padding: 1rem 0;
    border-radius: 15px;
    box-shadow: 0 9px #87aae4;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;
}

li:hover {background-color:#03281a}

li:active {
  background-color:  #03281a;
  box-shadow: 0 5px #447dd5;
  transform: translateY(4px); }
